/*!!!!!!!!!! Style général !!!!!!!!!! */
body {
    margin: 0px 50px 0 50px;
    font-family: 'Raleway', sans-serif;
    max-width: 1824px;
}

a {
    text-decoration: none;
    color: inherit;
}

.blue{
    color: #0065FC;
}

.greyStar {
    color: #F2F2F2;
}

.lightblue{
    background-color: #DEEBFF;
}

.grey {
    background-color: #F2F2F2;
}

h1 , h2 ,h3 {
    font-weight: 600;
}

.gras{
    font-weight: bold;
}

/*                   !!!!!!!! NAVIGATION !!!!!!!!!!!                 */
.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 1px;
}

.navbarlogo {
    width: 60%;
    height: 50px;
}

.imgLogo {
    width: 15%;
    
}

.navbarList {
    display: flex;
    flex-direction: row;
    margin-block-start: 0px;
    width: 100%;
    padding-inline-start: 10px;
}

.navbarSubs , .navbarLink {
    list-style-type: none;
    text-decoration: none;
    margin-top: 0px;
    padding-top: 20px;
    font-weight: bold;
    border-top: white solid 2px;
    width: 13.3%;
    text-align: center;
}

.navbarLink:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
/*           !!!!!!!!!!!!!!!!!header!!!!!!!!!!!!!!!!!            */
 .sectionRecherche {
     margin-bottom: 50px;
 }
.searchBar {
    border-radius: 10px;
    height: 50px;
    width: 30%;
    display: flex;
}

.locationLogoCase {
    height: 50px;
    width: 12%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.searchCase {
    width: 55%;
    border: #F2F2F2 1PX solid   ;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.searchButton {
    width: 32%;
    background-color: #0065FC;
    color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 0px 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border: none;
}

.searchLoupe{
    display: none;
}

/* !!!!!!!!!!!!!!!Filtres!!!!!!!!!!!!!!!!!!!!!!! */


.blocFiltre {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}
.titreFiltre {
    margin-right: 15px;
}

.listeLinkFiltre {
    display: flex;
    width: 90%;
}
.linkFiltre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: #F2F2F2 3px solid;
    border-radius: 25px;
    height: 47px;
    border-left: none;
    margin-right: 15px;
}

.circleFiltre{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleFiltre {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left : 10px;
    padding-right: 10px;
    
}

.infoContent {
    display: flex;
    align-items: center;
}

.infoColor {
    color: #0065FC; 
    height: 80%;
}

.bordureInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* !!!!!!!!!!!!!!Contenu de la page!!!!!!!!!!!!!!!!!!!! */
.mainSection{
    display: flex;
    margin-bottom: 60px;
}

/* !!!!!!!!!!!!!!!!!!Section hebergement!!!!!!!!!!!!!! */

.blocHebergement {
    width: 65%;
    border-radius: 30px;
    margin-right: 3%;
}

.titreDecalage {
    padding-left: 5%;
}
.listeHebergement {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: 4.5%;
    padding-right: 4.5%;
}
.carteHebergement {
    width: 30%;
    min-width: 216px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 4px 0 4px;
    box-shadow:1px 1px 2px 1px rgb(192, 194, 194);
}

.imgHebergement {
    width: 100%;
    height: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.descriptionHebergement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.nomHebergement {
    margin: 7px 5px 0px 5px;
    width: 95%;
}

.prixHebergment {
    width: 95%;
    margin: 5px 5px 5px 5px;
}

.noteHebergement {
    margin: 5px 5px 10px 5px;
    width: 95%;
}

.afficherPlus {
    margin-bottom: 20px;
}

/* !!!!!!!!!!!!!!!!!section populaire!!!!!!!!!!!!!! */

.blocPopulaire {
    width: 32%;
    border-radius: 30px;
}

.titrePopulaire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}

.listePopulaire {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.cartePopulaire {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 82%;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 4px;
}



.imgPopulaire {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-width: 130px;
}

.descriptionPopulaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
}

.descriptionHautPopulaire {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.nomPopulaire {
    margin: auto 5px;
}

.prixPopulaire {
    margin: auto 5px;
}

.notePopulaire {
    margin-left: 5px;
    margin-right: 5px;
}
/*  */
/*!!!!!!!!!!!!!!!!section activite!!!!!!!!!!!!!!!!!!*/

.blocActivite {
    display: flex;
    justify-content: space-between;
}

.colonneActivite {
    width: 22%;
    height: 450px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.carteActivite {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    box-shadow:1px 1px 2px 1px rgb(192, 194, 194);
}

.titreActivite {
    margin-bottom: 0px;
    width: auto;
    height: 50px;
    padding: 17px 1px 0 10px;
    margin-block-start: auto;
}

.borderTop {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.borderBottom {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


/*                  carte differentes tailles               */
.carteUn {
    height: 450px;
}

.imgActiviteUn {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.carteDeux {
    height: 240px;
}

.imgActiviteDeux {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.carteTrois {
    height: 165px;
}

.imgActiviteTrois {
    width: 100%;
    height: 105px;
    object-fit: cover;
}

.carteQuattre {
    height: 195px;
}

.imgActiviteQuattre {
    width: 100%;
    height: 135px;
    object-fit: cover;
}

.carteCinq {
    height: 210px;
}

.imgActiviteCinq {
    width: 100%;
    height: 150px;
    object-fit: cover;
}


/* !!!!!!!!!!!!!!!!!!!!!   Footer    !!!!!!!!!!!!!!!!!!! */

.basPage {
    display: flex;
    height: 150%;
    margin: 100px 0px 0px 0px;
}

.colonneUnFooter {
    width: 33%;
    padding-left: 50px;
}

.colonneDeuxFooter {
    width: 33%;
    padding-left: 50px;
}

.colonneTroisFooter {
    width: 33%;
    padding-left: 50px;
}

/* ---------------------------------------------------------- */
/*                         tablette                           */
/* ---------------------------------------------------------- */

@media (min-width: 721px) and (max-width: 1240px) {

    body {
        margin: 0px;
    }

    .sectionRecherche {
        margin-left: 10px;
    }

    /*---- navigation--- */
    .navbarlogo {
        width: 60%;
    }

    .imgLogo {
        padding-top: 5px;
    }

    .navbarList {
        width: 100%;
    }
    /* ----recherche---- */
    .searchBar {
        width: 40%;
    }

    .searchLoupe{
        display: none;
    }

    /* ---filtre---  */
    .blocFiltre {
        flex-direction: column;
        align-items: initial;
    }

    .listeLinkFiltre {
        flex-wrap: wrap;
        width: 100%;
    }
    .linkFiltre {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    /* ---- hebergement--- */
    .blocHebergement {
        width: 66%;
        margin-right: 1%;
    }
    .carteHebergement {
        width: 45%;
    }
    .cartePopulaire {
        /* min-width: 283px; */
        /* margin-bottom: 95px; */
        width: 95%;
    }
    .blocPopulaire {
        width: 33%;
        min-width: 260px;
        /* min-width: 305px; */
    }

    .imgPopulaire {
        height: 200px;
    }
    .listeHebergement {
        padding-right: 3px;
        padding-left: 3px;
    }

    /* ---- activite---  */
    .secondeSection {
        width: 98%;
        margin-left: 1%;
    }

    .blocActivite {
        flex-wrap: wrap;
    }
    .colonneActivite {
        height: 300px;
        width: 33%;
    }

    .titreActivite {
        font-size: medium;
        height: 50px;
        padding: 2px 1px 0 10px;
        height: 50px;
    }

    .carteUn ,.carteDeux ,.carteTrois ,.carteQuattre ,.carteCinq {
        height: 251px;
    }

    .carteDeux,.carteTrois ,.carteQuattre ,.carteCinq {
        width: 49%;
    }


    .imgActiviteUn, .imgActiviteDeux ,.imgActiviteTrois, .imgActiviteQuattre, .imgActiviteCinq{
        height: 200px;
    }


    .colonneDivise {
        display:  flex;
        flex-direction: row;
        width: 66%;
    }

    .titreActivite {
        height: 50px;
    }

}

/* ----------------------------------------------------- */
/*                   smartphone                          */
/* ----------------------------------------------------- */

@media (max-width:721px) {
    body {
        margin: 0px;
    }

    /*--- navigation---- */

    .navbarlogo {
        width: 49%;
        order: 1;
    }

    .imgLogo {
        width: 40%;
        padding-left: 20px;
        padding-top: 10px;
    }

    .navbarList {
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-inline-start: 0px;
    }

    .navbarSubs {
        width: 49%;
        order: 2;
        text-align: right;
        scroll-padding-inline-end: 50px;
    }

    .navbarLink {
        order: 3;
        width: 49%;
        text-align: center;
        padding-bottom: 5px;
        border-bottom: #F2F2F2 solid 3px;
        border-top: none;
    }

    .navbarLink:hover {
        border-bottom: #0065FC 3px solid;
        border-top: none;
    }

    /*---- header ----*/
    /*----recherche----*/
    .sectionRecherche {
        display: flex;
        flex-direction: column;
        margin : 0 10px 0 10px ;
    }

     .searchButton {
        display: none;
    }

    .searchBar {
        width: 80%;
        display: flex;
    }

    .fa-search {
        color: white;
    }

    .searchLoupe {
        background-color: #0065FC;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .searchCase {
        border-right: none;
    }
    /* ----filtre---- */

    .blocFiltre {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .titreFiltre {
        margin-right: 15px;
    }
    .listeLinkFiltre {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    .linkFiltre {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    /*---- main section ----*/
    .mainSection {
        flex-direction: column-reverse;
        width: 100%;
    }
            /* populaire */
    .blocPopulaire {
        width: 100%;
        margin-bottom: 10px;
    }

    .titreDecalageSupp {
        padding-left: 0px;
    }
    

    .cartePopulaire {
        width: 90%;
        margin-bottom: 15px;
    }
    
    .descriptionPopulaire {
       margin-left: 7%;
    }

            /* hebergement */
    .blocHebergement {
        width: 100%;
        background: none;
    }

    .listeHebergement {
        flex-direction: column;
    }

    .carteHebergement {
        width: 100%;
        margin-bottom: 15px;
        box-shadow:1px 1px 2px 1px rgb(192, 194, 194);
    }

    .nomHebergement, .prixHebergment, .noteHebergement {
        margin-left: 5%;
    }

    .imgHebergement {
        object-fit: cover;
    }
    /*---- seconde section ----*/
    .blocActivite {
        flex-direction: column;
    }

    .nomActivite {
        padding-left: 3%;
    }

    .colonneActivite {
        width: 100%;
        align-items: center;
        margin-bottom: 10px;
        height: auto;
    }

    .carteActivite {
        width: 90%;
        margin-bottom: 10px;
    }

    .imgActiviteUn,.imgActiviteDeux , .imgActiviteTrois, .imgActiviteQuattre,.imgActiviteCinq {
        height: 130px;
    }

    .carteUn , .carteDeux,.carteTrois ,.carteQuattre ,.carteCinq {
        height: 190px;
    }

    /*---- bas de page ----*/

    .basPage {
        flex-direction:column;
    }

    .colonneUnFooter {
        width: auto;
    }

    .colonneDeuxFooter {
        width: auto;
    }

    .colonneTroisFooter {
        width: auto;
    }
}